body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #161616;
  min-width: 1200px;
}
html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 999999px;
}
ul {
  margin: 0;
  list-style: none;
}
img,
a,
button,
input,
textarea {
  outline: none;
}
img:focus,
a:focus,
button:focus,
input:focus,
textarea:focus,
img:active,
a:active,
button:active,
input:active,
textarea:active {
  outline: none;
}
form {
  margin: 0;
}
header .logo {
  padding: 20px 0 0;
  text-align: center;
}
header .logo p {
  font-size: 14px;
  margin: 0;
}
header .topmenu {
  height: 60px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  width: 90%;
  margin: 50px auto;
}
header .topmenu ul {
  list-style: none;
  margin-left: 40px;
}
header .topmenu ul li {
  float: left;
  line-height: 60px;
}
header .topmenu ul li.active a {
  color: #47bd9e;
}
header .topmenu ul li a {
  font-size: 15px;
  color: #161616;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 15px;
}
header .topmenu ul li a:hover {
  color: #47bd9e;
}
header .topmenu ul li:after {
  content: '';
  background: url(../img/star.svg) no-repeat;
  width: 8px;
  height: 8px;
  display: block;
  float: right;
  margin-top: 26px;
  margin-right: 15px;
}
header .topmenu ul li:last-child:after {
  background: none;
}
header .hphone {
  margin-top: 40px;
}
header .hphone p {
  margin: 0;
}
header .hphone .phone {
  font-size: 19px;
  font-weight: 300;
  letter-spacing: -1px;
}
header .hphone .email a {
  color: #47bd9e;
}
header .hphone .email a:hover {
  text-decoration: none;
}
.slider {
  height: 461px;
  overflow: hidden;
  position: relative;
}
.slider .text-box {
  display: none;
}
.slider .slick-list {
  padding: 0;
  width: 100%;
}
.slider .slick-track {
  height: 461px;
}
.slider .slick-active {
  position: relative;
}
.slider .slick-active:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(94, 48, 40, 0.7);
}
.slider .slick-center {
  width: 1060px;
}
.slider .slick-center:after {
  background: rgba(255, 255, 255, 0.6);
}
.slider .slick-center .text-box {
  display: block;
}
.slider .slick-arrow {
  margin: auto;
  width: 38px;
  position: absolute;
  top: 230px;
  left: 0;
  right: 0;
}
.slider .slick-arrow button {
  width: 38px;
  height: 38px;
  position: relative;
  z-index: 1;
  border: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}
.slider .slick-arrow button.slick-next {
  margin-left: 511px;
}
.slider .slick-arrow button.slick-prev {
  margin-left: -511px;
}
.slider .slick-arrow button:hover {
  background: #47bd9e;
}
.slider .text-box {
  position: absolute;
  top: 140px;
  margin-left: 140px;
  z-index: 2;
}
.slider .text-box .h2 {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.slider .text-box .bkg {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background: #47bd9e;
  padding: 7px 12px;
  font-weight: 400;
}
.email a {
  text-decoration: none;
  border-bottom: 1px dashed #47bd9e;
}
.email a:hover {
  border-bottom: 0;
}
div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
  font-family: "Open Sans", sans-serif !important;
}
#slider {
  position: relative;
  margin-bottom: 50px;
}
#slider .form-wrap {
  position: absolute;
  width: 320px;
  margin: auto;
  left: 0;
  right: 0;
  top: 10px;
  padding: 30px 20px;
}
#slider .form-wrap .slide-form {
  background: #5e3028;
  margin-left: 300px;
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
}
#slider .form-wrap h3 {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
#slider .slick-dots {
  text-align: center;
  margin-top: -30px;
  padding: 0;
  position: relative;
}
#slider .slick-dots li {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
#slider .slick-dots li button {
  background: #fff;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: 0;
  text-indent: -99999px;
}
#slider .slick-dots li button:hover {
  background: #47bd9e;
}
#slider .slick-dots li.slick-active button {
  background: #47bd9e;
}
.form-group {
  margin-bottom: 10px;
  position: relative;
}
.form-group img {
  position: absolute;
  margin: 13px;
}
.form-group .form-control {
  width: 100%;
  display: block;
  min-height: 40px;
  padding: 9px 35px;
  box-sizing: border-box;
  border-radius: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border: 2px solid transparent;
}
.form-group .form-control.error {
  border-color: red;
}
.form-group textarea {
  height: 72px;
  padding: 10px 45px !important;
}
.btn {
  background: #47bd9e;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  border: 0;
  padding: 10px;
  cursor: pointer;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
}
.btn:hover {
  background: #000;
}
.tes-block {
  margin-bottom: 30px;
  overflow: hidden;
}
.tes-block .tes-item {
  position: relative;
}
.tes-block .tes-item .tes-img {
  border: 2px solid #eaeaea;
  border-radius: 50%;
  padding: 40px;
  width: 145px;
  height: 145px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
}
.tes-block .tes-item:after {
  content: '';
  background: url(../img/zigzag.png) no-repeat;
  width: 55px;
  height: 25px;
  display: block;
  position: absolute;
  top: 65px;
  right: -35px;
}
.tes-block .tes-item:last-child:after {
  background: none;
}
.tes-block .tes-item p {
  width: 300px;
  margin: 15px auto;
  text-align: center;
}
.pagination {
  display: none;
}
.number,
.hotels {
  background: #f3f3f3;
  padding: 50px;
}
.number .cart-block .two-column,
.hotels .cart-block .two-column {
  margin-top: 50px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}
.number .cart-block .two-column .img-item,
.hotels .cart-block .two-column .img-item {
  margin-bottom: 10px;
}
.number .cart-block .table-price td,
.hotels .cart-block .table-price td {
  font-size: 16px;
  line-height: 1.2em;
  padding-bottom: 10px;
}
.number .cart-block .h-auto,
.hotels .cart-block .h-auto {
  height: auto !important;
}
.number .cart-block .intro,
.hotels .cart-block .intro {
  margin-bottom: 10px;
}
.number .cart-block .intro p,
.hotels .cart-block .intro p {
  font-size: 13px;
  color: #7c7c7c;
}
.number .cart-block p,
.hotels .cart-block p {
  margin: 0;
  margin-bottom: 5px;
}
.number .cart-block .bold,
.hotels .cart-block .bold {
  font-weight: bold;
  font-size: 16px;
}
.number .cart-block .h2,
.hotels .cart-block .h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 25px;
  color: #47bd9e;
  margin-bottom: 25px;
  line-height: 1em;
}
.number .cart-block .description p,
.hotels .cart-block .description p {
  font-size: 13px;
  color: #7c7c7c;
}
.number .cart-block .description h3,
.hotels .cart-block .description h3 {
  text-transform: uppercase;
}
.number .cart-block .cart-phone,
.hotels .cart-block .cart-phone {
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: 300;
  width: 383px;
  overflow: hidden;
  float: right;
}
.number .cart-block .cart-phone img,
.hotels .cart-block .cart-phone img {
  margin: 4px 10px 0 0;
  float: left;
  display: inline-block;
}
.number .cart-block .cart-phone p,
.hotels .cart-block .cart-phone p {
  float: left;
  display: inline-block;
  width: 90%;
  margin: 0;
}
.number .cart-block .num-item,
.hotels .cart-block .num-item {
  padding: 0;
}
.number .cart-block .num-item .num-img,
.hotels .cart-block .num-item .num-img {
  width: 496px;
  height: 282px;
  margin: 0;
}
.number .cart-block .description,
.hotels .cart-block .description {
  margin-top: 10px;
  overflow: hidden;
}
.number .cart-block .twelve-column,
.hotels .cart-block .twelve-column {
  width: 100%;
}
.number .cart-block .btn-block,
.hotels .cart-block .btn-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
}
.number .cart-block .five-column,
.hotels .cart-block .five-column {
  width: 450px;
  float: left;
  height: 380px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.number .cart-block .seven-column,
.hotels .cart-block .seven-column {
  width: 500px;
  overflow: hidden;
  height: 380px;
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 30px;
}
.number .cart-block.h332 .seven-column,
.hotels .cart-block.h332 .seven-column,
.number .cart-block.h332 .five-column,
.hotels .cart-block.h332 .five-column {
  height: 332px !important;
}
.number .num-item,
.hotels .num-item {
  margin-bottom: 20px;
  background: #ffffff;
  padding: 15px;
}
.number .num-item .num-img,
.hotels .num-item .num-img {
  width: 240px;
  height: 193px;
  overflow: hidden;
  float: left;
  margin: -20px 15px 15px -20px;
}
.number .num-item .num-img .slick-arrow,
.hotels .num-item .num-img .slick-arrow {
  margin: auto;
  width: 38px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.number .num-item .num-img .slick-arrow button,
.hotels .num-item .num-img .slick-arrow button {
  width: 38px;
  height: 38px;
  position: relative;
  z-index: 1;
  border: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}
.number .num-item .num-img .slick-arrow button.slick-prev,
.hotels .num-item .num-img .slick-arrow button.slick-prev {
  margin-left: -38px;
}
.number .num-item .num-img .slick-arrow button:hover,
.hotels .num-item .num-img .slick-arrow button:hover {
  background: #47bd9e;
}
.number .num-item .num-desc h3,
.hotels .num-item .num-desc h3 {
  margin: 0;
  font-size: 17px;
  text-transform: uppercase;
}
.number .num-item .num-desc p,
.hotels .num-item .num-desc p {
  margin: 7px 0;
  font-size: 13px;
}
.number .num-item .num-desc .desc-table p,
.hotels .num-item .num-desc .desc-table p {
  font-size: 16px;
  font-weight: bold;
}
.number .num-item .num-btn,
.hotels .num-item .num-btn {
  clear: both;
}
.number .num-item .num-btn .bron,
.hotels .num-item .num-btn .bron {
  width: 220px;
  float: left;
  display: inline-block;
  margin-right: 15px;
}
.btn-more {
  background-color: #eaeaea;
  color: #161616;
  font-size: 13px;
  padding: 10px;
  border: 3px solid #eaeaea;
  text-align: center;
  width: 150px;
  cursor: pointer;
  outline: none;
  display: inline-block !important;
  height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s ease;
}
.btn-more:hover {
  background-color: transparent;
  border: 3px solid #161616;
}
.title-center h2 {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px;
}
.line-online {
  padding: 57px;
  background: url(../img/line.jpg) no-repeat;
  background-size: cover;
}
.line-online p {
  font-size: 26px;
  color: #fff;
  margin: 0;
  float: left;
  display: inline-block;
  margin-left: 80px;
  font-weight: 300;
}
.line-online p b {
  font-size: 30px;
}
.line-online .btn-white {
  width: 240px;
  margin-left: 70px;
  float: left;
  display: inline-block;
  overflow: hidden;
}
.line-online .btn-white .btn:hover {
  background: #fff;
  color: #47bd9e;
}
.special {
  padding: 50px;
}
.special .spec-block .spec-item {
  margin-bottom: 40px;
  border: 3px solid #eaeaea;
  overflow: hidden;
}
.special .spec-block .spec-item .spec-img {
  float: left;
  margin: 0;
  display: inline-block;
  width: 465px;
  height: 286px;
  overflow: hidden;
}
.special .spec-block .spec-item .spec-text {
  display: inline-block;
  float: left;
  padding: 15px 30px;
  width: 589px;
  height: 286px;
  overflow: hidden;
}
.special .spec-block .spec-item .spec-text .h4 p {
  margin: 0;
  text-transform: uppercase;
  color: #47bd9e;
  font-size: 17px;
  font-weight: bold;
}
.special .spec-block .spec-item .spec-text p {
  font-size: 15px;
  font-weight: 400;
  margin: 5px 0;
}
.special .spec-block .spec-item .spec-text .price p {
  line-height: 25px;
}
.special ul {
  padding-left: 15px;
  margin-bottom: 10px;
}
.special ul li {
  font-size: 13px;
  clear: both;
}
.special ul li:before {
  content: "•";
  font-size: 13px;
  color: #47bd9e;
  display: block;
  float: left;
  line-height: 20px;
  margin-right: 7px;
}
.special ul.w45 {
  display: inline-block;
  float: left;
  width: 45%;
}
.special ul.w55 {
  display: inline-block;
  float: left;
  width: 55%;
}
.title-center-white h2 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0 0 30px;
}
.btn-center {
  width: 220px;
  margin: 40px auto 20px;
}
.line2-online {
  padding: 57px;
  background: url(../img/line2.jpg) no-repeat;
  background-size: cover;
}
.line2-online p {
  font-size: 30px;
  color: #fff;
  margin: 0;
  float: left;
  display: inline-block;
  font-weight: 300;
}
.line2-online .btn-white {
  width: 240px;
  margin-left: 70px;
  float: left;
  display: inline-block;
  overflow: hidden;
}
.line2-online .btn-white .btn:hover {
  background: #fff;
  color: #47bd9e;
}
.fright {
  float: right;
  text-align: right;
}
footer {
  background: #1b1412;
  padding: 40px 0 20px;
  color: #fff;
  overflow: hidden;
}
footer .ims a {
  text-decoration: none;
}
footer .ims a img {
  margin-top: -8px;
  float: right;
}
footer a {
  color: #47bd9e;
}
footer a:hover {
  color: #fff;
}
footer .inline li {
  float: left;
  margin-top: 10px;
  display: inline-block;
}
footer .contact {
  border-right: 1px solid #322c2a;
}
footer .contact p {
  font-size: 17px;
  font-weight: 300;
}
footer .phone {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -1px;
}
footer .phone p {
  margin: 0;
}
footer .email p {
  margin: 5px 0;
}
footer .email p a {
  color: #47bd9e;
}
footer .email p a:hover {
  color: #fff;
}
.modal_div {
  width: 300px;
  position: fixed;
  /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 45%;
  /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  left: 50%;
  /* пoлoвинa экрaнa слевa */
  margin-top: -150px;
  margin-left: -150px;
  /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none;
  /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0;
  /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 5;
  /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  background: #5e3028;
  padding: 30px 20px;
  box-sizing: border-box;
}
.open_cart {
  width: 1060px;
  margin-left: -530px;
  background: #fff;
  padding: 30px;
  margin-top: -300px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
  font-weight: 100;
  display: block;
  font-size: 23px;
  color: #fff;
}
/* Пoдлoжкa */
#overlay {
  z-index: 3;
  /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position: fixed;
  /* всегдa перекрывaет весь сaйт */
  background-color: #000;
  /* чернaя */
  opacity: 0.8;
  /* нo немнoгo прoзрaчнa */
  -moz-opacity: 0.8;
  /* фикс прозрачности для старых браузеров */
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  /* рaзмерoм вo весь экрaн */
  top: 0;
  /* сверху и слевa 0, oбязaтельные свoйствa! */
  left: 0;
  cursor: pointer;
  display: none;
  /* в oбычнoм сoстoянии её нет) */
}
.bron h3 {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
